---
import Layout from '../layouts/Layout.astro';
import MyComponent from "../vue-components/MyComponent.vue"
import ListOfMyComponents from "../vue-components/ListOfMyComponents.vue"

---

<Layout title="Vue useId in Astro">
	<p>Different island:</p>
	<main>
		<MyComponent client:load />
		<MyComponent client:load />
		<MyComponent client:load />
		<MyComponent client:load />
	</main>
	<p>Same island:</p>
	<main>
		<ListOfMyComponents client:load />
	</main>
</Layout>

<style>
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
</style>
